body {
  /* background-color: #f4f7f6; */
  /* margin-top: 20px; */
  height: 100vh;
  overflow-y: hidden;
}

.card {
  background: #fff;
  transition: 0.5s;
  border: 0;
  /* margin-bottom: 30px; */
  border-radius: 0.55rem;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.chat-app .people-list {
  width: 280px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  z-index: 7;
}

.chat-app .chat {
  margin-left: 280px;
  border-left: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: auto;
}

.people-list {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  flex-grow: 1;
  overflow-y: auto;
}

.people-list .chat-list {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

.people-list .chat-list li {
  padding: 10px 15px;
  list-style: none;
  border-radius: 3px;
}

.people-list .chat-list li:hover {
  background: #efefef;
  cursor: pointer;
}

.people-list .chat-list li.active {
  background: #efefef;
}

.people-list .chat-list li .name {
  font-size: 15px;
}

.people-list .chat-list img {
  width: 45px;
  border-radius: 50%;
}

.people-list img {
  float: left;
  border-radius: 50%;
}

.people-list .about {
  float: left;
  padding-left: 8px;
}

.people-list .status {
  color: #999;
  font-size: 13px;
}

.chat .chat-header {
  padding: 15px 20px;
  border-bottom: 2px solid #f4f7f6;
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
}

.chat .chat-header img {
  float: left;
  border-radius: 40px;
  width: 110px;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
}

.chat .chat-history {
  padding: 20px;
  border-bottom: 2px solid #fff;
  flex-grow: 1;
  overflow-y: auto;
}

.chat .chat-history ul {
  padding: 0;
}

.chat .chat-history ul li {
  list-style: none;
  margin-bottom: 30px;
}

.chat .chat-history ul li:last-child {
  margin-bottom: 0px;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;
}

.chat .chat-history .message-data img {
  border-radius: 40px;
  width: 40px;
}

.chat .chat-history .message-data-time {
  color: #434651;
  padding-left: 6px;
}

.chat .chat-history .message {
  color: #444;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  display: inline-block;
  position: relative;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .my-message {
  width: 85%;
  background: #efefef;
  overflow-wrap: anywhere;
  margin: auto;
}

.chat .chat-history .my-message:after {
  bottom: 100%;
  left: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .other-message {
  background: #e8f1f3;
  text-align: left;
  overflow-wrap: anywhere;
}

.chat .chat-history .other-message:after {
  border-bottom-color: #e8f1f3;
  bottom: 100%;
  left: 93%;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-message {
  padding: 20px;
  border-top: 2px solid #fff;
  position: sticky;
  bottom: 5%;
  background: white;
}

.chat .chat-message .input-group-prepend {
  margin-right: 10px;
}

.chat-app .chat-list li a {
  color: #000;
}

.chat-app .chat-list li a:hover {
  color: #000;
  text-decoration: none;
}

.chat-app .close-btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  color: #333;
  z-index: 11;
}

.chat-app .close-btn:focus {
  outline: none;
}

.header-title {
  text-align: center;
  margin-right: 5%;
  display: block;
}

.content-radio {
  align-items: center;
  display: flex;
  gap: 5px;
  margin-bottom: 4px;
}

@media only screen and (max-width: 767px) {
  .header-title {
    text-align: left;
  }
  .lang-text,
  .header-title {
    font-size: 10px;
  }

  .chat-app .people-list.open .close-btn {
    display: block;
  }

  .chat-app .people-list {
    height: 100%;
    width: 100%;
    position: fixed;
    left: -100%;
    top: 0;
    overflow-y: auto;
    background: #fff;
    z-index: 10;
    transition: left 0.3s;
  }

  .chat-app .people-list.open {
    left: 0;
  }

  .chat-app .chat {
    margin: 0;
  }

  .chat-app .chat .chat-header {
    border-radius: 0.55rem 0.55rem 0 0;
  }

  .chat-app .chat-history {
    max-height: 100vh;
    overflow-x: auto;
  }
}

.chat-app .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.chat-app .overlay.open {
  display: block;
}
.mb-0 {
  margin-bottom: 0;
}

p,
h5 {
  margin: 0;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .chat-app .people-list {
    height: 100vh;
    overflow-y: auto;
  }

  .chat-app .chat-history {
    height: auto;
    overflow-y: auto;
  }

  .builtin-messages {
    width: 100%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .chat-app .people-list {
    height: 480px;
    overflow-y: auto;
  }

  .chat-app .chat-history {
    height: calc(100vh - 350px);
    overflow-y: auto;
  }
}

.card-btn {
  transition: background-color 0.3s ease;
}

.card-btn:hover {
  background-color: rgba(177, 177, 177, 0.2);
}

.card-img {
  max-height: 85px;
  width: auto;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
  .card-img {
    max-height: 70px;
    width: auto;
  }
}

@media only screen and (max-width: 481px) and (min-width: 425px) {
  .card-img {
    max-height: 60px;
    width: auto;
  }
}
@media only screen and (max-width: 424px) {
  .card-img {
    max-height: 80px;
    width: auto;
  }
  body {
    background-color: #f4f7f6;
    margin-top: 0px;
    height: 90vh;
  }
  .card-footer-text {
    font-size: 11px;
  }
  .chat .chat-history {
    padding-right: 0;
  }
  .lang-text,
  .header-title {
    font-size: 9px;
  }
}
@media only screen and (max-width: 374px) {
  .card-img {
    max-height: 75px;
    width: auto;
  }
  body {
    background-color: #f4f7f6;
    margin-top: 0px;
    height: 90vh;
  }
}

/* media when hight max 1024  and add max width 430px*/
@media only screen and (max-height: 1024px) and (max-width: 430px) {
  .chat {
    overflow: hidden;
  }

  .chat-history {
    padding-top: 10% !important;
    padding-bottom: 225px !important;
  }
}

.form-check-input {
  display: none;
}

.form-check-label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.form-check-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
}

.form-check-input:checked + .form-check-label::before {
  background-color: black;
  border-color: black;
}

.form-check-label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  transition: background-color 0.2s;
}

.form-check-input:checked + .form-check-label::after {
  background-color: white;
}

.float-right {
  float: right;
}

.img-bot {
  height: 60px;
  border-radius: 50%;
  margin-left: 12px;
}

.justify-content-right {
  justify-content: right;
}

.container {
  width: auto;
  max-width: initial;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.card-footer {
  font-size: 14px;
}

.items-center {
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #e8f1f3;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #434651;
  border-radius: 3px;
}

.lang-button {
  background-color: #a2ccf1;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 24px;
}
.lang-button:focus,
.lang-button.focus,
.lang-button:focus:active {
  box-shadow: 0 0 0 0.1rem #ed7d31;
}
